@import 'base';

//******全局框架******//
html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  //抗锯齿
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a:link,
a:active,
a:visited,
a:hover,
a:visited:hover {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}

a, i, b, font, strong, span,
h1, h2, h3, h4, h5, h6,
p, ul, li, div, section {
  outline: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

img {
  border: none;

  &[src=''] {
    opacity: 0 !important;
  }
}

ul, li,
img, span, p, font, strong, em, ol,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, input, tboby, form {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea,
button {
  border-radius: 0;
  outline: none;
}

input {
  -webkit-appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.67px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 64px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33px
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

//***Base***//
html,
body {
  position: relative;
  height: 100%;
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', '微软雅黑', '宋体', '华文楷体', '楷体', Arial, Verdana, sans-serif;
  background: transparent;
  -webkit-app-region: no-drag;
}

body {
  overflow: hidden;
  height: 100%;
  font-size: 12*@px;
  color: @color_1;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover,
a:visited:hover {
  color: @color_1;
}

img {
  display: block;
}

input::-webkit-input-placeholder {
  color: @color_2;
}

input::-moz-placeholder {
  color: @color_2;
}

input:-moz-placeholder {
  color: @color_2;
}

input:-ms-input-placeholder {
  color: @color_2;
}

audio {
  opacity: 0;
  display: block;
  .position(absolute, 0, auto, auto, 0, -999);
  width: 0;
  height: 0;
  pointer-events: none;
}

footer {
  min-width: @min_width;
}

//***Expand***//

.show {
  display: block;
}

.hide {
  display: none;
}

.disabled {
  .gray(100);
  pointer-events: none;
}

.hover {
  &:hover {
    opacity: 0.85;
  }
}

.box_scale {
  display: block;
  .position(absolute, 50%, 0, 0, 50%, 1);
  width: 100%*@scale;
  height: 100%*@scale;
  .transform(translate(-50%, -50%) scale(1/@scale));
}

.box_scroll {
  overflow: hidden;
  .scroll();
}

.btn {

}

.loading {
  overflow: hidden;
  position: relative;
  color: transparent;
  font-size: 0 !important;
  pointer-events: none;

  &:before {
    content: "";
    display: block;
    .position();
    margin: auto;
    .bg('loading.gif', auto, 80%, true);
  }
}

.body {
  @mr: 7*@px;
  overflow: hidden;
  .position(absolute, @mr, @mr, @mr, @mr);
  .noSelectText();

  > .container {
    position: relative;
    height: 100%;
  }
}

//***Page Style***//