<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <title>DAU计算工具</title>
    
    <link rel="icon" type="image/x-icon" href="../../../../_Index/src/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../../_Base/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../../$PublicSrc/src/css/font_glyphicons.css" />
    <link rel="stylesheet" type="text/css" href="../../../$PublicSrc/src/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../src/css/home.css" />
    <script type="text/javascript">
        /*项目配置*/
        var project = {
            id: 'retain',
            pc_id: 'pretain',
            mobile_id: 'mretain',
            language: 'zh-CN',
            page: 'dau',
            activity_id: 0,
            formal: false
        };
        
        /*应用ID*/
        var appID = {};
        
        /*分享配置*/
        var share = {
            title: '',
            description: '',
            img: '',
            url: ''
        };
        
        /*素材地址*/
        var src = {
            css: 'src/css/',
            js: 'src/js/',
            img: 'src/img/',
            media: 'src/media/',
            json: 'src/json/'
        };
    </script>
</head>
<body>

<div id="body" class="body">
    <div class="container-fluid">
        <h5>DAU计算工具</h5>
        <div class="box_button">
            <input type="file" id="load" class="btn btn-light" />
            <button type="button" id="save" class="btn btn-success">
                <span class="glyphicon glyphicon-save"></span>保存
            </button>
        </div>
        <div id="box_table" class="box_table">
            <table id="table_header" class="table">
                <tbody></tbody>
            </table>
            <table id="table_data" class="table table-hover">
                <tbody></tbody>
            </table>
            <button type="button" id="new" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>新增
            </button>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../$PublicSrc/src/js/jquery.js"></script>
<script type="text/javascript" src="../../../$PublicSrc/src/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../$PublicSrc/src/js/json2csv.js"></script>
<script type="text/javascript" src="../../../_Base/js/base_es5.js"></script>
<script type="text/javascript" src="../src/js/home.js"></script>

</body>
</html>
