html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a:link,
a:active,
a:visited,
a:hover,
a:visited:hover {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}
a,
i,
b,
font,
strong,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div,
section {
  outline: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
img {
  border: none;
}
img[src=''] {
  opacity: 0 !important;
}
ul,
li,
img,
span,
p,
font,
strong,
em,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
input,
tboby,
form {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select,
textarea,
button {
  border-radius: 0;
  outline: none;
}
input {
  -webkit-appearance: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 42.67px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 85.33px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
html,
body {
  position: relative;
  height: 100%;
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', '微软雅黑', '宋体', '华文楷体', '楷体', Arial, Verdana, sans-serif;
  background: transparent;
  -webkit-app-region: no-drag;
}
body {
  overflow: hidden;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
}
a {
  display: block;
  cursor: pointer;
  text-decoration: none;
}
a:link,
a:active,
a:visited,
a:hover,
a:visited:hover {
  color: #ffffff;
}
img {
  display: block;
}
input::-webkit-input-placeholder {
  color: #000000;
}
input::-moz-placeholder {
  color: #000000;
}
input:-moz-placeholder {
  color: #000000;
}
input:-ms-input-placeholder {
  color: #000000;
}
audio {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: -999;
  width: 0;
  height: 0;
  pointer-events: none;
}
footer {
  min-width: 1200px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.disabled {
  filter: grayscale(100);
  pointer-events: none;
}
.hover:hover {
  opacity: 0.85;
}
.box_scale {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%) scale(0.5);
}
.box_scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.loading {
  overflow: hidden;
  position: relative;
  color: transparent;
  font-size: 0 !important;
  pointer-events: none;
}
.loading:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  margin: auto;
  width: auto;
  height: 80%;
  background: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
}
.body {
  overflow: hidden;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  z-index: 0;
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 7px #000000;
  -webkit-touch-callout: none;
  user-select: none;
}
.body > .container {
  position: relative;
  height: 100%;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-app-region: drag;
}
/*# sourceMappingURL=home.css.map */